.carousel-inner{
    height: 650px;
    border-radius: 5px;
}
.card-hero{
    border: 1px solid rgb(174, 165, 165);
    border-radius: 5px;
}
.card-hero img{
    height: 150px;
}
.icon{
    font-size: 30px;
    padding: auto;
    padding-top: 20px;
}
.icon a{
    text-decoration: none;
    color: aliceblue;
}